<section class="about-us page-width">
  <div class="container">
    <h2 class="about-us-title">{{ section.settings.about-us-title }}</h2>
    <div class="about-us-description">
      {{ section.settings.about-us-description }}
    </div>
  </div>
</section>

<style>
  .about-us-title {
    text-align: center;
    cursor: pointer;
    font-size: {{ section.settings.pc-about-us-title-font-size }}px;
  }
  .about-us-title {
    text-align: center;
    cursor: pointer; 
  }

  .about-us-description {
    display: block;
    transition: all 0.3s ease-in-out;
    line-height: {{ section.settings.about-us-description-line-height }}px;
  }

  @media screen and (max-width: 768px) {
    .about-us-description {
      display: none;
    }
    .about-us-title {
      font-size: {{ section.settings.phone-about-us-title-font-size }}px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const title = document.querySelector(".about-us-title");
    const description = document.querySelector(".about-us-description");

    if (title && description) {
      title.addEventListener("click", function () {
        description.style.display = (description.style.display === "none" || description.style.display === "") ? "block" : "none";
      });
    }
  });
</script>

{% schema %}
{
  "name": "About Us",
  "settings": [
    {
      "type": "text",
      "id": "about-us-title",
      "label": "About Us Title",
      "default": "Mon Maillot Foot Store - Votre Destination pour les Maillots de Football Pas Cher"
    },
    {
      "type": "richtext",
      "id": "about-us-description",
      "label": "About Us Description"
    },
    {
      "type": "range",
      "id": "pc-about-us-title-font-size",
      "label": "PC Title Font Size",
      "min": 16,
      "max": 40,
      "step": 1,
      "default": 24
    },
    {
      "type": "range",
      "id": "phone-about-us-title-font-size",
      "label": "Phone Title Font Size",
      "min": 12,
      "max": 30,
      "step": 1,
      "default": 18
    },
    {
      "type": "range",
      "id": "about-us-description-line-height",
      "label": "Description Line Height",
      "min": 12,
      "max": 30,
      "step": 1,
      "default": 20
    },

  ],
  "presets": [
    {
      "name": "About Us",
      "category": "Promotions"
    }
  ]
}
{% endschema %}
