{% schema %}
{
  "name": "t:sections.image-with-link.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "t:sections.image-with-link.settings.banner_image.label"
    },
    {
      "type": "text",
      "id": "image_width",
      "label": "t:sections.image-with-link.settings.image_width.label",
      "default": "100%"
    },
    {
      "type": "text",
      "id": "image_height",
      "label": "t:sections.image-with-link.settings.image_height.label",
      "default": "auto"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "t:sections.image-with-link.settings.banner_link.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-link.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-link.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-link.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-with-link.settings.content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-with-link.settings.header_mobile.content"
    },
    {
      "type": "image_picker",
      "id": "mobile_banner_image",
      "label": "t:sections.image-with-link.settings.mobile_banner_image.label",
      "info": "t:sections.image-with-link.settings.mobile_banner_image.info"
    },
    {
      "type": "text",
      "id": "mobile_image_width",
      "label": "t:sections.image-with-link.settings.image_width.label",
      "default": "100%"
    },
    {
      "type": "text",
      "id": "mobile_image_height",
      "label": "t:sections.image-with-link.settings.image_height.label",
      "default": "auto"
    },
    {
      "type": "url",
      "id": "mobile_banner_link",
      "label": "t:sections.image-with-link.settings.banner_link.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-link.presets.name",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{{ 'section-image-with-link.css' | asset_url | stylesheet_tag }}

<div class="page-width banner-container content-align-{{ section.settings.content_alignment }}">
  {% if section.settings.banner_image != blank and section.settings.mobile_banner_image != blank %}
    <div class="desktop-show">
      <a 
        {% if section.settings.banner_link != blank %}
          href="{{ section.settings.banner_link }}" 
        {% else %}
          role="link" aria-disabled="true" 
        {% endif %} 
        class="banner-link">
        <img src="{{ section.settings.banner_image | img_url: 'master' }}" alt="Banner Image" style="width: {{ section.settings.image_width }}; height: {{ section.settings.image_height }};">
      </a>
    </div>
    <div class="mobile-show">
      <a 
        {% if section.settings.mobile_banner_link != blank %}
          href="{{  section.settings.mobile_banner_link }}" 
          {% else %}
          role="link" aria-disabled="true" 
        {% endif %}
        class="banner-link">
        <img src="{{ section.settings.mobile_banner_image | img_url: 'master' }}" alt="Banner Image" style="width: {{ section.settings.mobile_image_width }}; height: {{ section.settings.mobile_image_height }};">
      </a>
    </div>
  {%- elsif section.settings.banner_image == blank and section.settings.mobile_banner_image != blank -%}
  <div class="banner__media media{% if section.settings.banner_image == blank %} placeholder{% endif %}">
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
  <div class="mobile-show">
    <a 
      {% if section.settings.mobile_banner_link != blank %}
        href="{{  section.settings.mobile_banner_link }}" 
        {% else %}
        role="link" aria-disabled="true" 
      {% endif %}
      class="banner-link">
      <img src="{{ section.settings.mobile_banner_image | img_url: 'master' }}" alt="Banner Image" style="width: {{ section.settings.mobile_image_width }}; height: {{ section.settings.mobile_image_height }};">
    </a>
  </div>
  {% elsif section.settings.banner_image != blank and section.settings.mobile_banner_image == blank %}
    <div class="desktop-show">
      <a 
        {% if section.settings.banner_link != blank %}
          href="{{ section.settings.banner_link }}" 
        {% else %}
          role="link" aria-disabled="true" 
        {% endif %} 
        class="banner-link">
        <img src="{{ section.settings.banner_image | img_url: 'master' }}" alt="Banner Image" style="width: {{ section.settings.image_width }}; height: {{ section.settings.image_height }};">
      </a>
    </div>
  {% else %}
    <div class="banner__media media{% if section.settings.banner_image == blank %} placeholder{% endif %}">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
</div>

